hr{
  width: 100%;
  height:3px;
  background-color: white;
}
  
.container{
  background-color: whitesmoke;
  width:90%;
  display:flex;
  flex-wrap:wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height:500px auto;
  margin-left: 7px;
  overflow-wrap: break-word;
  
  

}
.box1{
  background-color:white;
  width:25%;
  height:fit-content;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  border-radius: 10px;
  box-shadow: 7px 7px rgb(85, 67, 152);
  overflow-wrap: break-word;
  min-width: 25%;
  flex: 11 auto;

}

.box2{
  background-color:white;
  width:25%;
  height:fit-content;
   align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 15px;
  box-shadow: 7px 7px rgb(85, 67, 152);
  overflow-wrap: break-word;
  min-width: 25%;
  flex: 11 auto;
  


}
.box3{
  background-color:white;
  width: 25%;
  height:fit-content;
   align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 15px;
  box-shadow: 7px 7px rgb(85, 67, 152);
  overflow-wrap: break-word;
  flex: 11 auto;
  min-width:25%;

}
.box1:hover{
  background-color:rgb(85, 67, 152);
  width: 30%;
  transition: 1s;
}


.box2:hover{
  background-color:rgb(85, 67, 152);
  width: 30%;
  transition:1s;
  
}

.box3:hover{
  background-color:rgb(85, 67, 152);
  width: 30%;
  transition: 1s;
  
  

}
button{
  background-color: white;
  width: 100px;
  border: 3px solid black;
  border-radius: 10px;
  height: fit-content ;

}



#hi{
   color: darkgray;
   font-weight:normal;
   font-family: Georgia, serif;

}
#hii{
     color: darkgray;
   font-weight:normal;
   font-family: Georgia, serif;
   

}
#hiii{
     color: darkgray;
   font-weight:normal;
   font-family: Georgia, serif;
   

}
.footer{
  background-color:grey;
  color:white;
  font-size: 1em;
  min-width:10%;
  width:auto;
  height:fit-content;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;


}  
#get{
   margin-left: 38%;
   width:auto;
   height:fit-content;
   min-width: 20%;
   background-color:darkblue;
   justify-content: center;
   text-align: center;
   font-family:'Courier New', Courier, monospace;
   color: white;
   font-size: 1em;
   font-weight: bolder;
 
}
#ini{
background-color: white;
height: 70px;
min-width:100px;
width: 40%;
border: none;
border-radius: 10px;





}
.info{
  height: 300px;
  width:50%;
  min-width:150px;
  background-color: black;
  display:block;
  justify-content: center;
  gap: 10px;
  margin-left: 7%;
  align-items: center;
  text-align: center;
  align-content: center;
  border: solid white 7px;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 5px 5px 5px darkblue;
  
  

}

#sub{
  background-color: white;
  color:black;
  width: 65px;
  height: 30px;


}
.music{
  background-color: white;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  gap:10px;
}
#btn{
  background-color: darkblue;
  color:white
}
#new1{
  border: 3px darkblue solid;
  border-radius: 5px;
}
#new2{
  border: 3px darkblue solid;
  border-radius: 5px;
}
#new3{
  border: 3px darkblue solid;
  border-radius: 5px;
}
.head{
  width: 100%;
  height:fit-content;
  display: flex;
  flex-wrap: wrap;
  gap:10px;
  overflow-wrap: break-word;
}
.content{
  width:40%;
  height: fit-content;
  background-color:darkblue;
  margin-top: 6%;
  box-shadow: 10px 10px rgb(70, 141, 234);
  display:flex;
  flex-wrap:wrap;
  
  
}
.content1{
  width:20%;
  height: 55px;
  background-color:red;
  margin-top: 6%;
  display:flex;
  flex-wrap: wrap;
  
}
.content2{
  width: 30%;
  height: 55px;
  background-color: white;
  margin-top: 6%;
  
}

#view1{
   margin-left: 19%;
   width:auto;
   height:fit-content;
   min-width: 20%;
   background-color:darkblue;
   justify-content: center;
   text-align: center;
   font-family:'Courier New', Courier, monospace;
   color: white;
   font-size: 1em;
   font-weight: bolder;
}
#view2{
   margin-left:19%;
   width:auto;
   height:fit-content;
   min-width: 20%;
   background-color:darkblue;
   justify-content: center;
   text-align: center;
   font-family:'Courier New', Courier, monospace;
   color: white;
   font-size: 1em;
   font-weight: bolder;
}
#view3{
   margin-left: 19%;
   width:auto;
   height:fit-content;
   min-width: 20%;
   background-color:darkblue;
   justify-content: center;
   text-align: center;
   font-family:'Courier New', Courier, monospace;
   color: white;
   font-size: 1em;
   font-weight: bolder;
}








  




